.dashboard-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: #f3f3f3;
    padding-top: 80px; /* ปรับ padding-top เพื่อปรับระยะห่างจาก Navbar ตามที่ต้องการ */
  }